conanbuildinfo.* 
CMakePresets.json
CMakeUserPresets.json
*.conan
*.lock
.cache

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
Testing/

build/
bin/
lib/
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe

.vscode/
.idea/
*.swp
*.swo
*.user
*.DS_Store

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

