# =========================
# Arquivos/pastas de build
# =========================
build/
bin/
lib/

# =========================
# CMake / Conan / Compilação
# =========================
conanbuildinfo.*       # versões antigas do Conan
conan.lock
conanfile.lock

# =========================
# Caches e temporários
# =========================
.cache/
out.txt

# =========================
# Arquivos de sistema/editor
# =========================
*.swp
*~
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
